<div class="choose-content">
    <div class="fraktions-area">
        <a class="fraktion">
            <h2>IMPERIUM</h2>
            <div class="choose-img-area">
                <img class="choose-img" src="./../../../assets/img/PNG/aquilla.png" alt="">
            </div>   
        </a>
        <div class="seperator"></div>
        <a class="fraktion" href="chaos">
            <h2>RUINOUS POWERS</h2>
            <div class="choose-img-area">
                <img class="choose-img" src="./../../../assets/img/PNG/khorneRune.png" alt="">
            </div>
        </a>
    </div>
</div>
