<div class="lore-content">
    <div class="lore-entry">
        <h2>The First War for Armageddon</h2>
        <div class="txt">
            <p>
                In the year 444.M41, the skies above Armageddon wept fire as the Warp tore itself open, and
                the galaxy bore witness to an apocalypse unlike any other. What unfolded was not a war for
                conquest or resources but a battle for the very soul of the Imperium against the forces of the 
                Ruinous Powers. This was the First War for Armageddon, a conflict that would forever scar
                the planet and those who survived its horrors.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Prelude to Chaos</h2>
        <div class="txt">
            <p>
                The war's genesis lay in the turbulent realms of the Eye of Terror, where the Primarch Angron,
                now a Daemon Prince of Khorne, plotted to unify the fractured remnants of the World Eaters.
                Following the Horus Heresy and the devastating Battle of Skalathrax, the once-proud XII Le-
                gion had devolved into murderous warbands, fractious and bloodthirsty. Angron sought to
                rally these wayward Berserkers under a single banner once more.
            </p>
            <p>
                The opportunity arose when the Space Hulk Devourer of Stars emerged from the Warp near
                Angron’s Daemon World. This colossal amalgamation of vessels and debris could transport
                the forces required to strike into the Imperium. The unpredictable currents of the Warp carried
                the Space Hulk to the Armageddon System—a Hive World of vital strategic importance,
                though its selection may have been influenced by the Blood God Khorne's inscrutable
                designs.
            </p>
            <p>
                Simultaneously, Armageddon was in turmoil. Warp storms severed the planet from Imperial
                communication, and widespread food shortages sparked uprisings in several Hive Cities.
                These rebellions, later revealed to be the work of Chaos Cults, spread chaos across the
                planet’s surface. The defenders of Armageddon, comprising its Planetary Defence Forces
                (PDF) and elements of the Armageddon Steel Legion, managed to quell some of the unrest,
                but the situation remained dire.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Invasion Unleashed</h2>
        <div class="txt">
            <p>
                In 444.M41, the Devourer of Stars materialized in the Armageddon System, disgorging a vast
                army of Chaos onto the planet. The invasion was spearheaded by Angron himself, accompan-
                ied by millions of Chaos Cultists, daemons, and the World Eaters. Among the invaders were
                the Cruor Praetoria, a cabal of twelve daemons who stood as Angron's favored champions.
            </p>
            <p>
                The devastation was immediate and immense. Entire regiments of the PDF defected to Chaos,
                bolstering the invaders’ ranks and leaving Armageddon Prime, the northern continent, entirely
                in their grip. The loyalist forces retreated to the southern continent of Armageddon Secundus,
                establishing defensive lines along the Chaeron and Styx Rivers.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>The Imperial Counteroffensive</h2>
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/sl.png" alt="">
        </div>
        <div class="txt">
            <p>
                The defenders of Armageddon soon received reinforcements from an unlikely savior: the
                Space Wolves Chapter of the Adeptus Astartes, led by the indomitable Great Wolf Logan
                Grimnar. Grimnar quickly recognized the gravity of the situation and called for the aid of
                the Grey Knights, the elite daemonhunters of the Ordo Malleus.
            </p>
            <p>
                The Space Wolves and the Armageddon Steel Legion held the line against Angron’s forces,
                buying time for the Grey Knights to arrive. However, Angron’s bloodlust could not be sated.
                As the Daemon Primarch led his horde across the equatorial jungles, the Imperial forces
                braced for a final stand at the river fortifications.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>The Duel with a Daemon</h2>
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/angron.png" alt="">
        </div>
        <div class="txt">
            <p>
                The arrival of the Grey Knights marked a turning point in the war. Teleporting directly into
                the heart of the Chaos army, the Grey Knights confronted Angron and his daemonic retinue.
                The battle was brutal and costly. Entire squads of Grey Knights fell to Angron’s wrath, and it
                seemed as though the daemon would emerge victorious.
            </p>
            <p>
                In the climactic moment, the Grey Knight Brother-Captain Taremar Aurellian sacrificed him-
                self to banish Angron back to the Warp for one hundred standard years. Though the victory
                came at a terrible cost, the rout of the Chaos forces followed swiftly. With their leader van-
                quished, the remaining daemonic entities were destroyed, and the World Eaters retreated
                aboard the Devourer of Stars, which disappeared into the Warp.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Imperial Victory</h2>
        <div class="txt">
            <p>
                The death of their leader plunged the Chaos forces into disarray. The remnants of the army
                that had been repelled at the River Chaeron completely withdrew, only to face relentless
                counter-attacks from the Space Wolves Astartes. Pursued relentlessly across the Ash Wastes
                by the combined might of the Space Marines and the mechanized units of the Armageddon
                Steel Legion, countless Chaos Cultists, mutants, and traitors were annihilated without mercy.
            </p>
            <p>
                Deprived of their daemonic support, the retreating invaders who survived the perilous journey
                across the toxic wastes were intercepted at Minos Bridge. No mercy was shown, and their
                bodies were thrown into the River Minos, which was then set ablaze. The inferno transformed 
                the river into a massive funeral pyre, its ominous glow visible for hundreds of miles. The
                charred remnants of the Chaos forces were carried westward, ultimately sinking into the tain-
                ted waters of the Plague Marshes—a region that still exudes an aura of malevolence and cor-
                ruption.
            </p>
            <p>
                Despite the overwhelming cost, the Imperium emerged victorious. Armageddon Prime’s in-
                dustrial base lay in ruins, and the loss of life was beyond comprehension. Though Angron's
                army was defeated, his towering monolith endured—a sinister monument deep within the
                equatorial jungle, radiating an undiminished aura of evil.
            </p>
        </div>
    </div>
</div>
