<div class="lore-content">
    <div class="lore-entry">
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/Armageddon.png" alt="">
             <div class="img-info">
                    <table>
                        <tbody>
                            <tr>
                                <td class="td-bold">Affiliation</td>
                                <td>Imperium of Men</td>
                            </tr>
                            <tr>
                                <td class="td-bold">Type</td>
                                <td>Hive World / Industrial World</td>
                            </tr>
                            <tr>
                                <td class="td-bold">Orbital Radius</td>
                                <td>Unknown</td>
                            </tr>
                            <tr>
                                <td class="td-bold">Population</td>
                                <td>multiple billions</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="txt">
            <h2>Armageddon: The Anvil of the Imperium</h2>
            <p>
                Armageddon stands as one of the most significant hive worlds within the Imperium of Man,
                its name etched in blood and fire across the annals of history. Located within Segmentum
                Solar, Armageddon's importance lies not only in its vast industrial capacity but also in its stra-
                tegic location, serving as a bulwark against the myriad threats that encroach upon the Em-
                peror's domain. Yet for all its strength, Armageddon is a cursed world, a planet forever scarred
                by the horrors that have unfolded upon its surface.
            </p>
            <h2>The World of Armageddon</h2>
            <p>
                Armageddon is a hive world of staggering scale, its surface dominated by sprawling urban
                hives, vast manufactorums, and polluted wastelands. Billions of souls inhabit it colossal cities,
                living and dying in service to the Imperium's insatiable demands for manpower, weapons, and
                resources. Each hive city rises like a mountain of steel and stone, its spires piercing the
                poisoned sky, while its lower levels descend into the choking darkness of decay and neglect.
            </p>
            <p>
                The planet’s primary exports include war machines, heavy munitions, and refined pro-
                methium, all produced in quantities sufficient to sustain entire Imperial crusades. The planet's
                industrial output is rivaled only by forge worlds, and its manufactorums are among the largest
                in the Segmentum. This productivity comes at a cost: Armageddon’s atmosphere is a toxic
                soup of ash and chemicals, its rivers run thick with sludge, and its soil is long since barren.
                The planet is kept habitable only by ancient atmospheric processors and the stubborn resili-
                ence of its population.
            </p>
            <p>
                The land beyond the hive cities is a wasteland of ash deserts, irradiated plains, and pro-
                methium fields dotted with drilling rigs. These uninhabitable expanses are patrolled by the
                Armageddon Steel Legion, the planet's renowned Astra Militarum regiments, who defend
                against bandits, mutants, and worse.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/hive.png" alt="">
        </div>
        <div class="txt">
            <h2>The Hive cities</h2>
            <p>
                Armageddon’s hive cities are the lifeblood of the planet. Among these, the most significant
                are:
            </p>
            <div class="sub-entry">
            <div class="entry-head">
                <div class="dot"></div>
                <h3>Helsreach:</h3>
            </div>
                <p>
                    A vital hub for promethium production, Helsreach Hive is a sprawling
                    complex of refineries and drilling operations. Its workers labor tirelessly to extract and
                    refine the fuel that powers the Imperium’s war machines.
                </p>
            </div>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Acheron:</h3>
                </div>
                <p>
                    A hive steeped in misery and shadow, Acheron Hive is home to many of the
                    planet’s penal labor forces. Its manufactorums churn out weapons at a relentless pace,
                    fueled by the toil of prisoners and indentured workers.
                </p>
            </div>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Hades Hive:</h3>
                </div>
                <p>
                    Known for its ancient manufactorums, Hades Hive was once a center-
                    piece of the planet’s industrial output. Its name would become infamous in the history
                    of Armageddon for reasons far darker.
                </p>
            </div>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Armageddon Prime and Secundus:</h3>
                </div>
                <p>
                    These two continental regions house the major-
                    ity of the hive cities and serve as the planet's industrial and administrative centers.
                </p>
            </div>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Strategic Importance</h2>
        <div class="txt">
            <p>
                Armageddon's position at the crossroads of major Warp routes makes it a linchpin in the Im-
                perium's defense. It acts as a gateway to the Segmentum Solar, guarding the approaches to
                Terra itself. The planet's colossal promethium reserves and industrial output fuel the wars of
                the Emperor across countless battlefronts, ensuring its survival is critical to the Imperium's
                broader strategic goals.
            </p>
            <p>
                This importance has also made Armageddon a target. Over the millennia, the planet has en-
                dured numerous threats, from xenos incursions to internal uprisings. Its defenses are robust,
                with planetary defense lasers, void shield generators, and vast regiments of the Armageddon
                Steel Legion ready to repel invaders.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Prelude to Catastrophe</h2>
        <div class="txt">
            <p>
                For centuries, Armageddon stood firm as a bastion of Imperial might. Yet, in the year
                444.M41, the planet would face a threat unlike any it had seen before. The skies darkened,
                and the air grew heavy with the stench of Chaos as the Warp began to bleed into reality. Un-
                known to its defenders, Armageddon had become the target of a being whose hatred for hu-
                manity burned as brightly as the stars themselves: Angron, the daemon-primarch of the World
                Eaters.
            </p>
            <p>
                The planet’s defenders were prepared for war, but not for the horror that awaited them. Ang-
                ron’s assault began with an eruption of violence that shattered the fragile peace of the planet.
                Hive cities burned, rivers of blood flowed through their streets, and the ashwastes echoed with
                the cries of the dying.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Armageddon Before the War</h2>
        <div class="txt">
            <p>
                On the eve of the First War for Armageddon, the planet was at the height of its productivity.
                Its manufactorums worked at full capacity, and its Steel Legion regiments were battle-
                hardened from decades of skirmishes with ork warbands and other threats. The hive cities
                bustled with activity, their inhabitants unaware of the cataclysm that was about to unfold.
            </p>
            <p>
                Armageddon’s defenses were formidable, yet they were designed to repel mortal foes, not the
                daemonic horrors of the Warp. When Angron and his legions descended upon the planet, it be-
                came clear that the defenders of Armageddon would face an enemy beyond their comprehen-
                sion.
            </p>
        </div>
    </div>
     <div class="lore-entry">
        <h2>A World Changed Forever</h2>
        <div class="txt">
            <p>
                The First War for Armageddon would leave the planet irrevocably scarred. Its hive cities, once
                beacons of industrial might, became charnel houses. Its wastelands, already desolate, were
                transformed into killing fields soaked with the blood of billions. The events of that war would
                mark the beginning of Armageddon’s descent into infamy, a fate sealed by the cursed name it
                bore.
            </p>
            <p>
                Armageddon had been a world of industry and resilience, a bastion of Imperial strength. After
                the first war, it would become something else entirely: a symbol of defiance in the face of an-
                nihilation and a testament to the price of survival in the grim darkness of the far future.
            </p>
        </div>
    </div>
</div>