@import './../../../styles.scss';
@import './../../../lore-content.scss';

h3{
    font-size: 28px;
}

.sub-entry{
    @include dFlex($ai: normal);
    background-color: $shared_grey;
    border-radius: 10px;
    margin: 24px 0px 24px 0px;
    padding: 12px 12px 12px 12px;
    
    h3{
        margin: 0;
    }

    .entry-head{
        @include dFlex($fd: row, $jc: normal);
    }
}

.dot{
    margin: 0px 12px 0px 0px;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}