<div class="lore-content">
    <div class="lore-entry">
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/hive.png" alt="">
        </div>
        <div class="txt">
            <h2>The Hive cities</h2>
            <p>
                Armageddon’s hive cities are the lifeblood of the planet. Among these, the most significant
                are:
            </p>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Helsreach:</h3>
                </div>
                <p>
                    A vital hub for promethium production, Helsreach Hive is a sprawling
                    complex of refineries and drilling operations. Its workers labor tirelessly to extract and
                    refine the fuel that powers the Imperium’s war machines.
                </p>
            </div>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Acheron:</h3>
                </div>
                <p>
                    A hive steeped in misery and shadow, Acheron Hive is home to many of the
                    planet’s penal labor forces. Its manufactorums churn out weapons at a relentless pace,
                    fueled by the toil of prisoners and indentured workers.
                </p>
            </div>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Hades Hive:</h3>
                </div>
                <p>
                    Known for its ancient manufactorums, Hades Hive was once a center-
                    piece of the planet’s industrial output. Its name would become infamous in the history
                    of Armageddon for reasons far darker.
                </p>
            </div>
            <div class="sub-entry">
                <div class="entry-head">
                    <div class="dot"></div>
                    <h3>Armageddon Prime and Secundus:</h3>
                </div>
                <p>
                    These two continental regions house the major-
                    ity of the hive cities and serve as the planet's industrial and administrative centers.
                </p>
            </div>
        </div>
    </div>
</div>
