<div class="lore-content">
    <div class="lore-entry">
        <h2>Months of Shame</h2>
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/khorne.png" alt="">
        </div>
        <div class="txt">
            <p>
                The first sign of trouble with the Inquisition’s post-war plans appeared months before the war
                ended, during Logan Grimnar’s first meeting with the newly arrived Inquisitorial task force.
                While Grimnar was aware that the Inquisition would need to suppress the truth of the war
                after its conclusion, he made it clear that he opposed the usual cover-up methods. Given the
                existing mistrust of the Space Wolves within the Imperial hierarchy, due to their past defiance
                of Imperial authority, Grimnar’s demand came off as either naive or an excuse for conflict,
                with his tone dismissive of the Inquisitors.
            </p>
            <p>
                However, Grimnar’s true concern lay with the human population of Armageddon. He ques-
                tioned whether saving the planet would be worth it if the people who had fought to defend it
                would be punished by the Inquisition simply for knowing about Chaos or the secret Imperial
                organizations opposing it. Grimnar had deliberately designed the planet’s defense to limit ci-
                vilian knowledge of the war’s true nature and the demonic forces at play, which would inevit-
                ably result in "catastrophic casualties" among both the Astartes and mortal defenders.
            </p>
            <p>
                The Inquisition remained unmoved, asserting that it was the Emperor’s decree that they held
                the authority to decide what was best for the Imperium and humanity. The truth of Chaos and
                the existence of the daemonic had to be contained to prevent further suffering across the
                galaxy. It was deemed more acceptable to sacrifice millions on Armageddon than risk the
                spread of Chaos corruption, which could potentially lead to the extermination of billions, as
                seen after the Horus Heresy.
            </p>
            <p>
                Practically, the Inquisition believed that containing the situation on Armageddon itself was
                preferable, as it affected a relatively small number of Imperial citizens compared to the 
                broader galactic threat if any of the Chaos corruption spread beyond the planet. The Armaged-
                don Containment was the result of a conclave vote and involved various directives, including
                the sterilization and quarantine of Armageddon’s surviving population in Adeptus Arbites
                work camps spread across the galaxy.
            </p>
            <p>
                This was ordered despite the fact that the civilian population was generally considered untain-
                ted and unaware of the true nature of the war. The human defenders, including the Armaged-
                don Steel Legion and the Imperial Guardsmen who had arrived after Angron's defeat, were
                also set to face similar treatment or even execution. The use of Exterminatus was not an op-
                tion due to the planet’s crucial industrial importance to the Imperium’s defense.
            </p>
            <p>
                Inquisitor Lord Ghesmei Kysnaros, the commanding Inquisitor of the Containment mission
                aboard the flagship Corel's Hope, represented the pragmatic Inquisition stance. For him, sacri-
                ficing or sterilizing millions to prevent Chaos’ spread seemed a necessary evil, preferring this
                to the possibility of having to wipe out entire sectors later.
            </p>
            <p>
                As the war ended, despite Grimnar's objections, Kysnaros initiated the first phase of the con-
                tainment. Inquisitorial Storm Troopers began evacuating the remaining hive cities and herding
                civilians into camps for "vaccinations," which were actually sterilization injections. Civilians
                were told it was a temporary security measure, while the defenders, including over a million
                Imperial Guardsmen, were ordered into barracks for their own “processing.”
            </p>
            <p>
                The Space Wolves on the planet engaged in minor disruptions but were overpowered on the
                ground by the Inquisitorial forces. However, they held the advantage in space, with 16 ships
                to the Inquisition’s 12. Grimnar’s plan was to help the human survivors escape by ensuring
                their transports safely made the Warp jump. Twenty transports were already prepared, but the
                first one, the Trident of Ilmatha, carrying civilians and defenders, was disabled by the Grey
                Knights’ Karabela and destroyed, with no survivors. This marked the first casualties in what
                would become an internal conflict.
            </p>
            <p>
                Following this, Grimnar ordered the remaining transports to make simultaneous orbital
                launches, with Space Wolves vessels placing themselves between the transports and Inquisit-
                orial ships, offering no retaliation. Some transports successfully escaped into the Warp, des-
                pite Kysnaros’ fleet attempting to intercept them.
            </p>
            <p>
                broader galactic threat if any of the Chaos corruption spread beyond the planet. The Armaged-
                don Containment was the result of a conclave vote and involved various directives, including
                the sterilization and quarantine of Armageddon’s surviving population in Adeptus Arbites
                work camps spread across the galaxy.
            </p>
            <p>
                This was ordered despite the fact that the civilian population was generally considered untain-
                ted and unaware of the true nature of the war. The human defenders, including the Armaged-
                don Steel Legion and the Imperial Guardsmen who had arrived after Angron's defeat, were
                also set to face similar treatment or even execution. The use of Exterminatus was not an op-
                tion due to the planet’s crucial industrial importance to the Imperium’s defense.
            </p>
            <p>
                Inquisitor Lord Ghesmei Kysnaros, the commanding Inquisitor of the Containment mission
                aboard the flagship Corel's Hope, represented the pragmatic Inquisition stance. For him, sacri-
                ficing or sterilizing millions to prevent Chaos’ spread seemed a necessary evil, preferring this
                to the possibility of having to wipe out entire sectors later.
            </p>
            <p>
                As the war ended, despite Grimnar's objections, Kysnaros initiated the first phase of the con-
                tainment. Inquisitorial Storm Troopers began evacuating the remaining hive cities and herding
                civilians into camps for "vaccinations," which were actually sterilization injections. Civilians
                were told it was a temporary security measure, while the defenders, including over a million
                Imperial Guardsmen, were ordered into barracks for their own “processing.”
            </p>
            <p>
                The Space Wolves on the planet engaged in minor disruptions but were overpowered on the
                ground by the Inquisitorial forces. However, they held the advantage in space, with 16 ships
                to the Inquisition’s 12. Grimnar’s plan was to help the human survivors escape by ensuring
                their transports safely made the Warp jump. Twenty transports were already prepared, but the
                first one, the Trident of Ilmatha, carrying civilians and defenders, was disabled by the Grey
                Knights’ Karabela and destroyed, with no survivors. This marked the first casualties in what
                would become an internal conflict.
            </p>
            <p>
                Following this, Grimnar ordered the remaining transports to make simultaneous orbital
                launches, with Space Wolves vessels placing themselves between the transports and Inquisit-
                orial ships, offering no retaliation. Some transports successfully escaped into the Warp, des-
                pite Kysnaros’ fleet attempting to intercept them.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>The Purges</h2>
        <div class="txt">
            <p>
                After the successful escape of several transports, the Inquisition extended its purge to anyone
                or anything that had come into contact with the Armageddon survivors. Kysnaros’ fleet ex-
                panded its reach across the galaxy, conducting Exterminatus on several worlds, including Ty-
                bult, where an Armageddon transport had briefly stopped for supplies. Some Grey Knights,
                who had been added to Kysnaros’ armada, also took part in these purges.
            </p>
            <p>
                Kysnaros’ campaign expanded rapidly, and his handling of the Space Wolves was guided by
                the advice of Grand Master Joros of the Grey Knights, who understood the importance of con-
                fronting the Space Wolves with overwhelming force. Meanwhile, the Space Wolves, under
                Grimnar’s orders, continued to evade and disrupt the Inquisition’s efforts, successfully res-
                cuing and dispersing more of Armageddon’s survivors.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Grey Knights Dissent</h2>
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/gk.png" alt="">
        </div>
        <div class="txt">
            <p>
                Within Kysnaros’ fleet, dissent was growing, particularly over the purges’ scale and the In-
                quisition’s aggressive stance towards the Space Wolves. Among the dissenters was Inquisitor
                Annika Jarlsdottyr of the Ordo Malleus, as well as some Grey Knights who were frustrated by
                their use outside their traditional mission parameters. The campaign became known as the
                “Months of Shame” due to the moral and ethical concerns of those involved, especially as the
                Space Wolves, despite their losses, refused to retaliate.
            </p>
            <p>
                Kysnaros himself remained an enigmatic figure. His past was shrouded in mystery, and he
                was an Unaligned Inquisitor Lord, working outside the established Ordos. His mysterious
                nature only deepened the mistrust some felt toward him. 
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Death of Joros</h2>
        <div class="txt">
            <p>
                Five months into the campaign, with its toll rising and no end in sight, Grand Master Joros
                proposed capturing Grimnar to force the Space Wolves’ surrender. Kysnaros authorized a par-
                ley with Grimnar, which was set to take place in the neutral Haikaran system. However, upon
                the Space Wolves' arrival, Kysnaros’ forces opened fire on them, destroying four of their es-
                cort vessels and heavily damaging Grimnar's flagship.
            </p>
            <p>
                Grimnar, despite the betrayal, agreed to meet with Kysnaros aboard the Fire of Dawn, where a
                confrontation took place. Kysnaros offered peace in exchange for surrender, but Grimnar’s
                true aim was to determine who had violated the armistice. Upon learning that Joros had given
                the order to fire on the Space Wolves, Grimnar killed him in a swift, brutal display. Kysnaros
                tried to appeal to Grimnar, but the Space Wolves were already prepared to escape, killing four
                Grey Knights in the process to break the psychic blockade. Grimnar and his remaining forces
                teleported to safety, leaving Kysnaros and his forces defeated.
            </p>
            <p>
                The encounter marked the end of the parley and left the Inquisition leader defeated and out-
                maneuvered by the Space Wolves, who managed to escape into the void.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Excalation</h2>
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/sw.png" alt="">
        </div>
        <div class="txt">
            <p>
                Following the failed negotiations and the attempt to capture Grimnar, the conflict grew more
                intense. Over the subsequent months, the Space Wolves stopped holding back, frequently en-
                gaging the Armageddon containment forces and destroying numerous Inquisitorial and Grey
                Knights vessels. Among the losses was the Glaive of Janus, the flagship of the Grey Knights’
                1st Brotherhood, which had served for 10,000 years. The ship, along with its entire crew of
                over 50 Veteran Grey Knights, was lost.
            </p>
            <p>
                The Inquisition sought reinforcements, gaining the support of the Red Hunters Chapter,
                among others. The Red Hunters joined Kysnaros' fleet, bringing their entire Chapter fleet and
                strength, including the massive Battle Barge In Sacred Trust, under Chapter Master Daemar.
                Kysnaros had pursued the Red Hunters' aid not only because they traditionally aligned with
                the Inquisition, but also due to his growing wariness of the Grey Knights, some of whom were
                slow to engage and covertly avoided the campaign.
            </p>
            <p>
                Casualties on both sides grew as the conflict escalated, while the containment operation grew
                increasingly ineffective. Despite the death toll reaching into the billions, the Space Wolves’
                superior strategies led to the dispersal of survivors to unknown locations, rendering the cam-
                paign a failure. However, the victory felt hollow as the Space Wolves' actions indirectly con-
                tributed to the deaths of many more innocents purged by the Inquisition.
            </p>
            <p>
                Among the Inquisition's dissenters, a conspiracy began to form, seeking to assassinate
                Kysnaros. High-ranking Inquisitors like Jarlsdottyr and respected Grey Knights like Hyperion
                supported the plot, believing Kysnaros' death would prevent the internal conflict from spiral-ing into a full-scale civil war. In response, Kysnaros, now often advised by the more hard-line
                Red Hunters, installed surveillance Servo-skulls across the Inquisitorial armada. As the con-
                spiracy gained momentum, Kysnaros reluctantly acknowledged the failure of his strategy. In
                early 445.M41, after eight months of campaign, the containment operation was abandoned.
                Kysnaros announced a new plan, ordering all containment assets to Fenris, the Space Wolves'
                lightly defended homeworld. His aim was to force Logan Grimnar into compliance with the
                Inquisition's demands, which no longer concerned Armageddon but sought to limit the Space
                Wolves' autonomy and independence.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Siege of Fenris</h2>
        <div class="lore-img-area">
            <img class="lore-img" src="./../../../assets/img/PNG/fenris.png" alt="">
        </div>
        <div class="txt">
            <p>
                Kysnaros’ armada, including a mix of Inquisitorial warships, Grey Knights vessels, and the
                entire Red Hunters fleet, surrounded Fenris and targeted The Fang, the Space Wolves' fort-
                ress-monastery, with an orbital bombardment. With most of the Space Wolves away on other
                missions, Fenris was poorly defended. Kysnaros called for a parley, which the few Space
                Wolves present agreed to. He invited Hyperion, the Grey Knights commander respected by
                the Space Wolves, and Inquisitor Jarlsdottyr, known for her distrust of him, to accompany
                him.
            </p>
            <p>
                The Space Wolves awakened the venerable Dreadnought Bjorn the Fell-Handed to handle the
                Inquisitorial delegation. The ancient warrior, who had fought alongside Primarch Leman
                Russ, quickly earned the respect of the Inquisitorial group, being viewed as a wiser and more
                temperate representative than Grimnar. Kysnaros demanded the Space Wolves' obedience to
                the Imperium’s authority and suggested a Penitent Crusade to atone for attacking the Inquisi-
                tion’s forces. In exchange, he promised no further punitive actions against the Chapter.
            </p>
            <p>
                Bjorn, unimpressed, questioned the Inquisitor's demands, pointing out the contradiction of
                asking a proud and ancient Chapter to bow to bureaucrats while orbital guns targeted their
                home. He requested a more thorough explanation, but the discussion was interrupted when
                Logan Grimnar's fleet arrived, having travelled at great speed through the Warp at the cost of
                their Rune Priests’ lives. The negotiations quickly ended, and the Inquisitorial delegation re-
                treated to Corel’s Hope.
            </p>
            <p>
                Following a brief and unfruitful exchange between Kysnaros and Grimnar, the situation escal-
                ated into a full-scale naval battle. Kysnaros, showing impressive strategic acumen, took com-
                mand of the Inquisitorial fleet and directed the battle. Despite the Imperial Navy's senior of-ficers being present, Kysnaros exhibited remarkable control over the large-scale tactics, split-
                ting his forces to bombard The Fang while dealing with Space Wolves' boarding actions.
            </p>
            <p>
                During the chaos, Grimnar's vessel, Scramaseax, came alongside Corel’s Hope, and its super-
                ior shields and armor quickly overwhelmed the Inquisitorial ship’s defenses. Grimnar and his
                Wolf Guard teleported to the bridge of the Corel’s Hope, where they fought their way to
                Kysnaros. Despite Kysnaros’ psychic abilities, Grimnar swiftly decapitated the Inquisitor
                Lord.
            </p>
            <p>
                Kysnaros’ death did little to calm the Space Wolves, who continued their assault until Bjorn
                the Fell-Handed intervened. His wise counsel called for an immediate ceasefire and a com-
                promise between the Inquisition and the Space Wolves to avoid further destruction.
            </p>
        </div>
    </div>
    <div class="lore-entry">
        <h2>Uneasy Peace</h2>
        <div class="txt">
            <p>
                Bjorn ordered Grimnar to cease hostilities and find a resolution with the Inquisition. He ad-
                dressed Jarlsdottyr and Hyperion, advising that no Inquisition ships should ever again ap-
                proach Fenris and that the Space Wolves should not be subjected to mind-wiping but rather be
                educated on the true mission of the Grey Knights to avoid future conflicts. Reluctantly, both
                sides accepted the terms, and the siege of Fenris came to an end.
            </p>
            <p>
                However, the truce was born out of necessity. The Space Wolves had suffered massive losses,
                with their Chapter fleet devastated and many of their serfs and Astartes killed or incapacitated.
                The Fang itself had sustained significant damage, far worse than during Magnus the Red's at-
                tack in the 32nd Millennium.
            </p>
            <p>
                The Inquisition, especially the Grey Knights, had also suffered heavy casualties. The losses
                came in the wake of the costly First War for Armageddon, and the toll was felt deeply by both
                sides.
            </p>
            <p>
                Beyond the physical losses, however, the repercussions were even more profound. Trust
                between the Space Wolves and the Inquisition had been shattered, with the Grey Knights
                questioning their leadership, and many Astartes reluctant to participate in Kysnaros’ opera-
                tions. Despite dissent, Kysnaros’ mandate had come from the highest levels of the Inquisition,
                and his actions were sanctioned by those in power.
            </p>
            <p>
                Despite the apparent end of the conflict, neither side was fooled. The Inquisition would not
                abandon its quest to bring the Space Wolves under control, and the Space Wolves, under
                Grimnar’s leadership, wouldn’t give up their Independence.
            </p>
        </div>
    </div>
</div>
