<div class="landing-content">
    <div class="lore-area">
        
        <h2>Armageddon - The Anvile of the Imperium</h2>
        <div class="lore-content">
            <div class="img-area">
                <img class="lore-img" src="./../../assets/img/PNG/Armageddon.png" alt="ARMAGEDDON">
                <div class="img-info">
                    <table>
                        <tbody>
                            <tr>
                                <td class="td-bold">Affiliation</td>
                                <td>Imperium of Men</td>
                            </tr>
                            <tr>
                                <td class="td-bold">Type</td>
                                <td>Hive World / Industrial World</td>
                            </tr>
                            <tr>
                                <td class="td-bold">Orbital Radius</td>
                                <td>Unknown</td>
                            </tr>
                            <tr>
                                <td class="td-bold">Population</td>
                                <td>multiple billions</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="lore">
                <div class="quote">
                    <p class="quote-content">
                        "Armageddon, a world whose name is known across the Imperium. 
                        Armageddon, a world whose name has become a byword for war and destruction on a massive scale. 
                        Armageddon, where the fate of a thousand worlds hangs in the balance."
                    </p>
                    <p class="auote-src">—Lord Commander Solar Eugenian</p>
                </div>

                <div class="lore-txt">
                    <p class="lore-para">
                        Armageddon stands as one of the most significant hive worlds within the Imperium of Man,
                        its name etched in blood and fire across the annals of history. Located within Segmentum
                        Solar, Armageddon's importance lies not only in its vast industrial capacity but also in its stra-
                        tegic location, serving as a bulwark against the myriad threats that encroach upon the Em-
                        peror's domain. Yet for all its strength, Armageddon is a cursed world, a planet forever scarred
                        by the horrors that have unfolded upon its surface.
                    </p>
                </div>
            </div>

            <div class="btn-area">
                <a class="btn" href="lore">MORE ABOUT ARMAGEDDON</a>
            </div>

        </div>
    </div>

    <div class="seperator"></div>

    <div class="ticker-area">
        <div class="ticker-content">
            <h2>Verlauf</h2>
            <div class="ticker-screen"></div>
        </div>
    </div>

    <div class="seperator"></div>

    <div class="builder-area">
        <div class="builder-content">
            <h2>Zu den Waffen.</h2>
            <div class="army-builder">
                <a class="build-btn" href="choose">
                    <h3>Build new army</h3>
                    <div class="build-img-area">
                        <img class="build-img" src="./../../assets/img/PNG/khorne.png" alt="Berserker">
                    </div>
                </a>
            </div>

            <div class="army-builder">
                <a class="build-btn" href="army">
                    <h3>Existing Armys</h3>
                    <div class="build-img-area">
                        <img class="build-img" src="./../../assets/img/PNG/stellLegion.png" alt="Berserker">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
