<div class="lore-content">
    <div class="lore-links">
        <a class="about" href="armageddon">
            <h2>Armageddon: The Anvil of the Imperium</h2>
            <div class="link-section">
                <div class="lore-link"><div class="dot"></div>Wolrd of Armageddon</div>
                <div class="lore-link"><div class="dot"></div>The Hive Cities</div>
                <div class="lore-link"><div class="dot"></div>Stratetic Importance</div>
                <div class="lore-link"><div class="dot"></div>Prelude to Catastrophe</div>
                <div class="lore-link"><div class="dot"></div>Amrageddon Before the War</div>
                <div class="lore-link"><div class="dot"></div>Wolrd Changed Forever</div>
            </div>
        </a>
        <a class="about" href="firstWar">
            <h2>The First War for Armageddon</h2>
            <div class="link-section">
                <div class="lore-link"><div class="dot"></div>The First War for Armageddon</div>
                <div class="lore-link"><div class="dot"></div>Invasion Unleashed</div>
                <div class="lore-link"><div class="dot"></div>The Imperial Counteroffensive</div>
                <div class="lore-link"><div class="dot"></div>The Duel with a Deamon</div>
                <div class="lore-link"><div class="dot"></div>Imperial Victory</div>
            </div>
        </a>
        <a class="about" href="shame">
            <h2>"Months of Shame"</h2>
            <div class="link-section">
                <div class="lore-link"><div class="dot"></div>The Purges</div>
                <div class="lore-link"><div class="dot"></div>Grey Knights Dissent</div>
                <div class="lore-link"><div class="dot"></div>Death of Joros</div>
                <div class="lore-link"><div class="dot"></div>Escalation</div>
                <div class="lore-link"><div class="dot"></div>Siege of Fenris</div>
                <div class="lore-link"><div class="dot"></div>Uneasy Peace</div>
            </div>
        </a>
        <div class="about-firstWar"></div>
        <div class="bout-shame"></div>
    </div>

    <div class="seperator-horiz"></div>

    <div class="writer-section">
        <div class="writer-entry">
            <h4>LORE WRITTEN BY:</h4>
            <p class="writer-name">the.unknown.fear</p>
        </div>
        <div class="writer-entry">
            <h4>FRACTION LORE WRITTEN BY:</h4>
            <p class="writer-name">legion_moritat</p>
        </div>
        <div class="writer-entry">
            <h4>RULES WRITTEN BY:</h4>
            <p class="writer-name">logan_grimdark</p>
            <p class="writer-name">skriptor.peter</p>
            <p class="writer-name">the.unknown.fear</p>
            <p class="writer-name">vf40k</p>
            <p class="writer-name">rradunzz</p>
            <p class="writer-name">karns_hobbyhive</p>
        </div>
        <div class="writer-entry">
            <h4>LOGO DESIGN</h4>
            <p class="writer-name">the.unknown.fear</p>
        </div>
    </div>
</div>
