<div class="lore-content">
    <div class="lore-links">
        <div class="about">
            <h2>Armageddon: The Anvil of the Imperium</h2>
            <div class="link-section">
                <a class="lore-link" href="armageddon"><div class="dot"></div> Wolrd of Armageddon</a>
                <a class="lore-link" href="hive"><div class="dot"></div>The Hice Cities</a>
                <a class="lore-link" href="#"><div class="dot"></div>Stratetic Importance</a>
                <a class="lore-link" href="#"><div class="dot"></div>Prelude to Catastrophe</a>
                <a class="lore-link" href="#"><div class="dot"></div>Amrageddon Before the War</a>
                <a class="lore-link" href="#"><div class="dot"></div>Wolrd Changed Forever</a>
            </div>
        </div>
        <div class="about">
            <h2>The First War for Armageddon</h2>
            <div class="link-section">
                <a class="lore-link" href="#"><div class="dot"></div>Prelude to Chaos</a>
                <a class="lore-link" href="#"><div class="dot"></div>Invasion Unleashed</a>
                <a class="lore-link" href="#"><div class="dot"></div>The Imperial Counteroffensive</a>
                <a class="lore-link" href="#"><div class="dot"></div>The Duel with a Deamon</a>
                <a class="lore-link" href="#"><div class="dot"></div>Imperial Victory</a>
            </div>
        </div>
        <div class="about">
            <h2>"Months of Shame"</h2>
            <div class="link-section">
                <a class="lore-link" href="#"><div class="dot"></div>The Purges</a>
                <a class="lore-link" href="#"><div class="dot"></div>Grey Knights Dissent</a>
                <a class="lore-link" href="#"><div class="dot"></div>Death of Joros</a>
                <a class="lore-link" href="#"><div class="dot"></div>Escalation</a>
                <a class="lore-link" href="#"><div class="dot"></div>Siege of Fenris</a>
                <a class="lore-link" href="#"><div class="dot"></div>Uneasy Peace</a>
            </div>
        </div>
        <div class="about-firstWar"></div>
        <div class="bout-shame"></div>
    </div>

    <div class="seperator-horiz"></div>

    <div class="writer-section">
        <div class="writer-entry">
            <h4>LORE WRITTEN BY:</h4>
            <p class="writer-name">the.unknown.fear</p>
        </div>
        <div class="writer-entry">
            <h4>FRACTION LORE WRITTEN BY:</h4>
            <p class="writer-name">legion_moritat</p>
        </div>
        <div class="writer-entry">
            <h4>RULES WRITTEN BY:</h4>
            <p class="writer-name">logan_grimdark</p>
            <p class="writer-name">skriptor.peter</p>
            <p class="writer-name">the.unknown.fear</p>
            <p class="writer-name">vf40k</p>
            <p class="writer-name">rradunzz</p>
            <p class="writer-name">karns_hobbyhive</p>
        </div>
        <div class="writer-entry">
            <h4>LOGO DESIGN</h4>
            <p class="writer-name">the.unknown.fear</p>
        </div>
    </div>
</div>
